{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "extrahead" }}
  <meta property="article:author" content="https://indieweb.social/@robalex">
  <meta property="article:publisher" content="https://indieweb.social/@robalex">
  <meta property="og:description" content="{{ .Summary }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ .Permalink }}" />
{{ end }}

{{ define "main" }}
<main aria-role="main" class="post">
  <a href="/">Blog Home</a>
  <hr />
  <header class="homepage-header">
    <h1>{{ .Title }}</h1>
    <div><b>{{ .Summary }}</b></div>
    {{ if .Params.categories }}
    <div class="cat-tags">

      {{ range .Params.categories }}
      <a href="{{ absURL (printf "%s%s%s" "/blog/categories/" (. | urlize) "/") }}">
      <span class="cat-tag">
        {{ . }}
      </span>
      </a>
      {{ end }}
    </div>
    {{ end }}
    <div><i>By <a href="https://www.robalexdev.com/">Robert Alexander</a></i></div>
    <div><i>{{ .Date | time.Format "2006-01-02" }}</i></div>
  </header>
  {{ .Content }}
  <br /><br /><br /><br /><br />
  <hr />
</main>
{{ end }}
