    <p style="padding-top: 8em;">
    <strong>Hello!</strong>
    I'm
    <a href="https://www.robalexdev.com">Robert Alexander</a>.
    This blog features some of my work and thoughts on software, the cloud, and security.
    You can get updates on my posts
    <a href="https://alexsci.com/blog/rss.xml">with your favorite RSS client</a>.
    I'm also on <a rel="me" href="https://indieweb.social/@robalex">Mastodon</a>.
    <br />
    <br />
    <b>Statements are my own and do not represent the positions or opinions of my employer.</b>
    </p>

