    <p style="padding-top: 8em;">
    <strong>Hello!</strong>
    I'm
    <a href="https://www.robalexdev.com">Robert Alexander</a>,
    a freelance software developer and security consultant.
    This blog features some of my work and thoughts on software, the cloud, and security.
    You can get updates on my posts
    <a href="../rss.xml">with your favorite RSS client</a>
    or on
    <a href="https://robalexdev.substack.com/">Substack</a>.
    I'm also on <a rel="me" href="https://indieweb.social/@robalex">Mastodon</a>.
    </p>
