    <p style="padding-top: 8em;">

    <div class="hero">
      <div class="headshot">
        <picture>
          <img src="/static/head-shot.png" alt="Robert Head Shot">
        </picture>
      </div>
    </div>
    <p>
      <strong>Hello!</strong>
      I'm Robert Alexander, a DevSecOps consultant
      <a href="https://robalexdev.com/">available for contract work</a>.
      This blog features some of my work and thoughts on software, the cloud, and security.
      You can subscribe to my posts
      <a href="https://alexsci.com/blog/rss.xml">with your favorite RSS client</a>.
    </p>
    <br />
    <small>
    Statements are my own and do not represent the positions or opinions of my employer.
    </small>
    </p>

