<style>
body {
  margin: auto;
  max-width: 52em;
  font-size: 1.2em;
  font-family: system-ui, -apple-system, Helvetica;
  background-color: #eee;
  padding-bottom: 10em;
}

  header {
    margin-bottom: 3em;
  }

  main.post h1 {
    margin-bottom: 0;
  }

  figure {
    padding: 2em 0;
  }

  div.content {
    margin: 2em;
  }

  h2 {
    margin-top: 3em;
  }

  h2 {
    margin-top: 3em;
  }

  h3 {
    margin-top: 3em;
  }

  h3.post-listing {
    font-size: 0.7em;
  }

  h3 > a {
    font-size: 1.6em;
    font-style: normal;
  }

  a {
    color: #118;
  }

  a:visited {
    color: #717;
  }

  a.rss {
    background-color: #e83;
    padding: 0.4em 1em;
  }

  a.blogroll {
    background-color: #8be;
    padding: 0.4em 1em;
    margin-left: 1em;
  }

  span.sep:before {
    padding: 1.2em;
    content: '\2234';
  }

  div.cat-tags {
    font-size: 0.9em;
    margin: 1em 0em 1em 0em;
  }

  span.cat-tag {
    margin: 0 0.2em 0 0;
    padding: 0.4em 1em;
    background-color: #eee;
    border: 0.1em solid #c5c5c5;
    color: #222;
  }

  span.cat-tag.popular {
    background-color: #eae;
  }

code {
  padding: 0.5em;
  background-color: #ddd;
}
pre {
  background-color: #ddd;
  padding: 2em;
  overflow-x: scroll;
}
pre > code {
  padding: 0;
}

img {
    max-width: 100%;
}

div.quote {
  padding: 2em;
  margin: 4em 0em 4em 0em;
  border-left: 2px solid orange;
  background-color: #f5f5f5;
}

div.quote.aside {
  border-left: 2px solid #777;
}

div.quote div.byline {
  padding: 0.8em;
  font-weight: bold;
}

div.hero {
  display: flex;
}

.headshot {
  border: 0.4em double #b97;
  border-radius: 40%;
}

.headshot img {
  max-width: 15em;
  max-height: 15em;
}

  </style>
